{% extends 'templates/default.html.twig' %}

{% block body %}
    <div class="row">
        <a class="btn btn-primary" href="/new">Create new company</a>
    </div>

    <div class="row">
        <form method="get">
            What we are looking for: <input type="text" name="find_it" value=""></br>
            <input type="submit">
        </form>
    </div>

    <div class="row">

        <table class="table table-striped">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>text</th>
                <th></th>
                <th></th>
            </tr>
            {% for row in items %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.text }}</td>
                <td>
                    <form action="/{{ row.id }}" method="get">
                        <input type="submit" class="btn btn-default" value="link">
                    </form>
                </td>
                <td>
                    <form action="/delete/{{ row.id }}" method="post">
                        <input type="submit" class="btn btn-default" value="del">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}